.box-1 {
  background-color: aquamarine;
  width: 325px;
  height: 225px;
}
.box-2 {
  background-color: brown;
  width: 150px;
  height: 250px;
}
.text-1 {
  font-size: 60px;
  color: rgb(164, 25, 177);
}
.text-2 {
  font-size: 30px;
}